version: '3.8'

volumes:
  ddon-server-sqlite-volume:

networks:
  ddon-network:

services:
  app:
    container_name: ddon-server
    build: .
    restart: no
    ports:
      # Database
      - '3306:3306'
      # Game server
      - "52000:52000"
      # Web server
      - "52099:52099"
      # Login server
      - "52100:52100"
    environment:
      - DB_TYPE=sqlite
      - DB_DATABASE=Ddon
      - DB_FOLDER=/var/ddon/server/Files/Database
      - DB_PORT=3306
      - DB_WIPE_ON_STARTUP=false
    volumes:
      - ddon-server-sqlite-volume:/var/ddon/server/Files/Database
      - ./Arrowgene.Ddon.config.local_dev.json:/var/ddon/server/Files/Arrowgene.Ddon.config.json:ro
      - ./Arrowgene.Ddon.Shared/Files/Assets:/var/ddon/server/Files/Assets:ro
    networks:
      - ddon-network
    # Workaround: cli expects to be able to process keyboard input
    tty: true
    command: /var/ddon/server/Arrowgene.Ddon.Cli server start
