/* The HTML viewer has default padding, removing with CSS for full screen banners. */
* {
  margin: 0 !important;
  padding: 0 !important;
}

body {
    padding: 0px !important;
  }

/* Dimensions for a full screen banner. Any image in slide.html will be scaled down to this size. */
  img {
/*     width: 370px !important;
    height: 140px !important; */
    width: 100% !important;
    height: 100% !important;
  }
  